<% content_for :head do %>
    <title><%= t(:title) %></title>
    <meta name="description" content="<%= t(:description) %>">
    <meta property="og:title" content="<%= t(:title) %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta name="DC.Creator" content="Countrypedia" />
    <meta name="DC.Subject" scheme="DCTERMS.LCSH" content="<%= t(:title) %>" />
    <meta name="DC.Description" content="<%= t(:description) %>" />
    <meta name="DC.Type" scheme="DCTERMS.DCMIType" content="Text" />
    <meta name="DC.Format" scheme="DCTERMS.IMT" content="application/xhtml+xml" />
<% end %>
<%= render partial: "shared/nav" %>
<div class="jumbotron">
  <%= render partial: "shared/share", locals: {text: "Countrypedia"} %>
  <h1><%= t('pages.about.title') %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('pages.about.data_title') %></h3>
  </div>
  <div class="panel-body">
    <p>
      <%= t('pages.about.data_text') %>
    </p>
    <ul>
      <li><%= link_to "forecast.io", "http://forecast.io/" %></li>
      <li><%= link_to "GeoNames", "http://www.geonames.org/" %></li>
      <li><%= link_to "Google Maps", "https://maps.google.com" %></li>
      <li><%= link_to "open exchange rates", "https://openexchangerates.org" %></li>
      <li><%= link_to "REST countries", "https://restcountries.eu" %></li>
      <li><%= link_to "Wikipedia", "https://www.wikipedia.org" %></li>
    </ul>
  </div>

  <div class="panel-heading">
    <h3 class="panel-title"><%= t('pages.about.technology_title') %></h3>
  </div>
  <div class="panel-body">
    <p>
      <%= raw(t('pages.about.technology_text')) %>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('pages.about.contact_title') %></h3>
  </div>
  <div class="panel-body">
    <p>
      <%= t('pages.about.contact_why') %>
    </p>
    <p>
      <%= t('pages.about.contact_email') %>
      <%= link_to "info@countrypedia.xyz", "mailto:info@countrypedia.xfz" %>
    </p>
  </div>
</div>


