<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <%= content_tag(:a, t('countries.show.facts'), :name => 'facts') %>
    </h2>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
	<%= t('countries.show.flag') %>
      </dt>
      <dd>
	<%= image_tag(country.flag, width: '64', alt: t(@country.name)) %>
      </dd>
      <dt>
	<%= t('countries.show.languages') %>
      </dt>
      <dd>
	<%= raw(info['languages'].join(", ")) %>
      </dd>
       <dt>
	<%= t('countries.show.calling_codes') %>
      </dt>
      <dd>
	<%= raw(info['callingCodes'].join(", ")) %>
      </dd>
      <dt>
	<%= t('countries.show.tld') %>
      </dt>
      <dd>
	<%= info['topLevelDomain'][0] %>
      </dd>
      <dt>
	<%= link_to t('countries.show.alpha2'), "https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" %>
      </dt>
      <dd>
	<%= info['alpha2Code'] %>
      </dd>
      <dt>
	<%= link_to t('countries.show.alpha3'), "https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3" %>
      </dt>
      <dd>
	<%= info['alpha3Code'] %>
      </dd>
      <dt>
	<%= link_to 'WOEID', "https://en.wikipedia.org/wiki/GeoPlanet" %> 
      </dt>
      <dd>
	<%= @country.woeid %>
      </dd>
    </dl>
  </div>
</div>

