<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('countries.show.facts') %></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
	<%= t('countries.show.flag') %>
      </dt>
      <dd>
	<%= image_tag country.flag %>
      </dd>
      <dt>
	<%= t('countries.show.languages') %>
      </dt>
      <dd>
	<%= raw(info['languages'].join(", ")) %>
      </dd>
      <dt>
	<%= t('countries.show.population') %>
      </dt>
      <dd>
	<%= info['population'] %>
      </dd>
      <dt>
	<%= t('countries.show.tld') %>
      </dt>
      <dd>
	<%= info['topLevelDomain'][0] %>
      </dd>
      <dt>
	<a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">
	  <%= t('countries.show.alpha2') %>
	</a>
      </dt>
      <dd>
	<%= info['alpha2Code'] %>
      </dd>
      <dt>
	<a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3">
	  <%= t('countries.show.alpha3') %>
      </a>
      </dt>
      <dd>
	<%= info['alpha3Code'] %>
      </dd>
    </dl>
  </div>
</div>

