<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('countries.show.geography') %></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
	<%= t('countries.show.subregion') %>
      </dt>
      <dd>
	<em><%= info['subregion'] %></em>
      </dd>
      <dt>
	<%= t('countries.show.region') %>
      </dt>
      <dd>
	<em><%= info['region'] %></em>
      </dd>
      <dt>
	<%= t('countries.show.borders') %>
      </dt>
      <dd>
	<%= raw(info['borders'].join(", ")) %>
      </dd>
    </dl>
    <div class="row">
      <% (2..5).each do |zoom| %>
      <div class="col-md-6">
	<a href="#" class="thumbnail">
	  <img  class="img-responsive" src="<%= @country.googlemaps_url(type: 'roadmap', size: '300x300', zoom: zoom)  %>"/>
	</a>
      </div>
      <% end %>
    </div>
  </div>
</div>
