<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('countries.show.geography') %></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
	<%= t('countries.show.subregion') %>
      </dt>
      <dd>
	<em><%= info['subregion'] %></em>
      </dd>
      <dt>
	<%= t('countries.show.region') %>
      </dt>
      <dd>
	<em><%= info['region'] %></em>
      </dd>
      <dt>
	<%= t('countries.show.borders') %>
      </dt>
      <dd>
	<ul class="list-inline">
	  <% @country.borders(info['borders']).each do |country| %>
	  <li>
	    <%= link_to t(country.name), [country] %>
	  </li>
	  <% end %>
	</ul>
      </dd>
    </dl>
    <div class="row">
      <% (2..5).each do |zoom| %>
      <div class="col-md-6">
	<div style="padding:10px">
	  <img 
	     class="img-responsive"
	     alt="<%= t(@country.name) %>" 
	     src="<%= @country.googlemaps_url(type: 'roadmap', size: '400x400', zoom: zoom)  %>"/>
	</div>
      </div>
      <% end %>
    </div>
  </div>
</div>
