<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('countries.show.geography') %></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
	<%= t('countries.show.capital') %>
      </dt>
      <dd>
	<%= info['capital'] %>
      </dd>
      <dt>
	<%= t('countries.show.region') %>
      </dt>
      <dd>
	<%= info['region'] %>
      </dd>
      <dt>
	<%= t('countries.show.subregion') %>
      </dt>
      <dd>
	<%= info['subregion'] %>
      </dd>
      <dt>
	<%= t('countries.show.latitude') %>
      </dt>
      <dd>
	<%= info['latlng'][0] %>
      </dd>
      <dt>
	<%= t('countries.show.longitude') %>
      </dt>
      <dd>
	<%= info['latlng'][1] %>
      </dd>
      <dt>
      <%= t('countries.show.area') %>
      </dt>
      <dd>
	<%= info['area'] %>
      </dd>
      <dt>
	<%= t('countries.show.borders') %>
      </dt>
      <dd>
	<%= raw(info['borders'].join(", ")) %>
      </dd>
    </dl>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["geochart"]});
      google.setOnLoadCallback(drawRegionsMap);
      function drawRegionsMap() {
      var data = google.visualization.arrayToDataTable(<%= raw(country.geochart_from_borders(info['borders'])) %>);
      var options = { region: '<%= country.region_code %>'};
      var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
      chart.draw(data, options);
      }
    </script>
    <div id="regions_div" style="width: 400px; height: 300px;"></div>
  </div>
</div>
