<ul class="list-inline text-center">
  <li><%= link_to t('countries.show.cities'), '#cities' %></li>
  <li><%= link_to t('countries.show.facts'), '#facts' %></li>
  <li><%= link_to t('countries.show.geography'), '#geography' %></li>
  <li><%= link_to t('countries.show.hour'), '#hour' %></li>
  <li><%= link_to t('countries.show.money'), '#money' %></li>
  <li><%= link_to t('countries.show.links'), '#links' %></li>
  <li><%= link_to t('countries.show.pictures'), '#pictures' %></li>
  <li><%= link_to t('countries.show.population'), '#population' %></li>
  <li><%= link_to t('countries.show.weather'), '#weather' %></li>
  <li><%= link_to 'Wikipedia', '#wikipedia' %></li>
</ul>
