<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('countries.show.money') %></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
	<%= link_to t('countries.show.gini'), t('countries.show.gini_wikipedia') %>
      </dt>
      <dd>
	<%= info['gini'] %>
      </dd>
      <dt>
	<%= t('countries.show.currencies') %>
      </dt>
      <dd>
	<%= info['currencies'].join(", ") %>
      </dd>
    <% 
       rates = @country.openexchangerates
       eur_rate = rates['EUR']
       gbp_rate = rates['GBP']
       usd_rate = rates['USD'] 
       Array(info['currencies']).each do |currency|
         currency_rate = rates[currency]
         if currency_rate != nil && currency != 'EUR' %>
      <dt>1 <%= currency %> =</dt>
      <dd><%= (eur_rate / currency_rate).round(3)  %> EUR</dd>
    <%  
         end 
         if currency_rate != nil && currency != 'GBP' 
    %>
      <dt>1 <%= currency %> =</dt>
      <dd><%= (gbp_rate / currency_rate).round(3)  %> GBP</dd>
    <% 
         end
         if currency_rate != nil && currency != 'USD' 
    %>
      <dt>1 <%= currency %> =</dt>
      <dd><%= (usd_rate / currency_rate).round(3)  %> USD</dd>
    <% 
         end 
       end 
    %>
    </dl>
  </div>
</div>
