<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <%= content_tag(:a, t('countries.show.pictures'), :name => 'pictures') %>
    </h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
	<div style="padding:10px">
	  <img 
	     class="img-responsive" 
	     alt="<%= t(@country.name) %>"
	     src="<%= @country.googlemaps_url(maptype: 'hybrid', size: '1000x1000')  %>"/>
	</div>
      </div>
      <div class="col-md-4">
	<% Array(@country.googleimagessearch).each do |link| %>
	<div style="padding:10px">
	  <img 
	     class="img-responsive"
	     alt="<%= t(@country.name) %>"
	     src="<%= link %>" />
	  </div>
	<% end %>
      </div>
    </div>
  </div>
</div>

