<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('countries.show.population') %></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
	<%= t('countries.show.population') %>
      </dt>
      <dd>
	<%= info['population'] %>
      </dd>
      <dt>
	<%= t('countries.show.demonym') %>
      </dt>
      <dd>
	<em><%= info['demonym'] %></em>
      </dd>
    </dl>
  </div>
</div>

