<% weather = @country.weather(info['latlng'][0], info['latlng'][1]) %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <%= content_tag(:a, t('countries.show.weather'), :name => 'weather') %>
    </h2>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt><%= t('countries.show.weather_summary') %></dt>
      <dd><%= weather.currently.summary %></dd>
      <dt><%= t('countries.show.weather_temperature') %></dt>
      <dd><%= weather.currently.temperature.round(1) %> &#8451; / <%= (weather.currently.temperature * 1.8 + 32).round(1) %>&#8457;</dd>
      <dt><%= t('countries.show.weather_windspeed') %></dt>
      <dd><%= weather.currently.windSpeed %> m/s</dd>
      <dt><%= t('countries.show.weather_precipitationprobability') %></dt>
      <dd><%= weather.currently.precipProbability %> %</dd>
      <dt><%= t('countries.show.weather_humidity') %></dt>
      <dd><%= weather.currently.humidity * 100 %> %</dd>
      <dt><%= t('countries.show.weather_pressure') %></dt>
      <dd><%= weather.currently.pressure %> mbar / hPa</dd>
      <dt><%= t('countries.show.weather_ozone') %></dt>
      <dd><%= weather.currently.ozone %> Dobson</dd>
    </dl>
    <p>
      <%= t('countries.show.forecastio_link') %> <%= link_to 'forecast.io', "http://forecast.io/#/f/#{ info['latlng'][0] },#{ info['latlng'][1] }" %>.
    </p>
  </div>
</div>
