<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('countries.show.weather') %></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <% 
	 condition = country.weather ? country.weather.condition : nil  
      %>
      <dt>
	<%= t('countries.show.temperature') %>
      </dt>
      <dd>
	<%= condition ? condition.temp : '?' %> <%= t('countries.show.celsiusdegrees') %>
      </dd>
      <dt><%= t('countries.show.details') %></dt><dd><em><%= condition ? condition.text : '?' %></em></dd>
    </dl>
  </div>
</div>
