<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('countries.show.weather') %></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <% weather = country.weather %>
      <dt>
	<%= t('countries.show.temperature') %>
      </dt>
      <dd>
	<%= weather.condition.temp %> <%= t('countries.show.celsiusdegrees') %>
      </dd>
      <dt><%= t('countries.show.details') %></dt><dd><%= weather.condition.text %></dd>
    </dl>
  </div>
</div>
