<% content_for :head do %>
    <title>Countrypedia</title>
    <meta name="keywords" content="<%= t('countries.index.keywords', country: t(@country.name)) %>">
    <meta name="description" content="<%= t('countries.index.description', country: t(@country.name)) %>">
<% end %>
<ol class="breadcrumb">
  <li><%= link_to t(:home), countries_path %></li>
</ol>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "list", locals: {} %>
  </div>
  <div class="col-md-12">
    <%= render partial: "map", locals: {} %>
  </div>
</div>

