<% content_for :head do %>
    <title><%= t(:title) %></title>
    <meta name="keywords" content="<%= t(:keywords) %>">
    <meta name="description" content="<%= t(:description) %>">
<% end %>
<%= render partial: "shared/nav" %>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-8">
      <%= render partial: "shared/share", locals: {text: "Countrypedia"} %>
      <h1>Countrypedia</h1>
      <p><%= t(:description) %></p>
    </div>
    <div class="col-md-4">
      <%= image_tag(
	  'countrypedia-logo.gif', 
	  alt: 'Countrypedia', 
	  class: 'img-responsive', 
	  style: 'max-width: 300px;') %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "random", locals: {} %>
  </div>
  <div class="col-md-12">
    <%= render partial: "shared/googleadsense", locals: {} %>
  </div>
  <div class="col-md-12">
    <%= render partial: "list", locals: {} %>
  </div>
  <div class="col-md-12 hidden-xs hidden-sm">
    <%= render partial: "map", locals: {} %>
  </div>
</div>

