<% content_for :head do %>
    <title>Countrypedia</title>
    <meta name="keywords" content="<%= t(:keywords) %>">
    <meta name="description" content="<%= t(:description) %>">
<% end %>
<ol class="breadcrumb">
  <li><%= link_to t(:home), root_path %></li>
</ol>

<div class="jumbotron">
  <%= render partial: "shared/share", locals: {text: "Countrypedia"} %>
  <h1>Countrypedia</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "random", locals: {} %>
  </div>
  <div class="col-md-12">
    <%= render partial: "shared/googleadsense", locals: {} %>
  </div>
  <div class="col-md-12">
    <%= render partial: "list", locals: {} %>
  </div>
  <div class="col-md-12">
    <%= render partial: "map", locals: {} %>
  </div>
</div>

