<% content_for :head do %>
    <title><%= t('countries.show.title', country: t(@country.name)) %></title>
    <meta name="keywords" content="<%= t('countries.show.keywords', country: t(@country.name)) %>">
    <meta name="description" content="<%= t('countries.show.description', country: t(@country.name)) %>">
<% end %>
<% info = @country.restcountries_code %>
<%= render partial: "shared/nav" %>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-8">
      <%= render partial: "shared/share", locals: {text: t(@country.name)} %>
      <% nativeName = info['nativeName'] %>
      <h1>
	<%= t(@country.name) %>
	<% if (nativeName != t(@country.name)) %>
	<em><small><%= nativeName %></small></em>
	<% end %>
      </h1>
      <p><%= t('countries.show.description', country: t(@country.name)) %></p>
    </div>
    <div class="col-md-4">
      <img 
	 alt="<%= t(@country.name) %>"
	 src="<%= @country.googlemaps_url(type: 'roadmap', size: '300x200')  %>"/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "menu", locals: {} %>
  </div>
  <div class="col-md-4">
    <%= render partial: "facts", locals: {country: @country, info: info} %>
    <%= render partial: "weather", locals: {country: @country, info: info} %>
    <%= render partial: "money", locals: {country: @country, info: info} %>
    <%= render partial: "hour", locals: {country: @country, info: info} %>
    <%= render partial: "population", locals: {country: @country, info: info} %>
    <%= render partial: "cities", locals: {country: @country, info: info} %>
    <%= render partial: "links", locals: {country: @country, info: info} %>
    <%= render partial: "travisa", locals: {country: @country, info: info} %>
  </div>
  <div class="col-md-8">
    <%= render partial: "geography", locals: {country: @country, info: info} %>
    <%= render partial: "shared/googleadsense", locals: {} %>
    <%= render partial: "wikipedia", locals: {country: @country, info: info} %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: "pictures", locals: {country: @country, info: info} %>
  </div>
</div>




