<% info = @country.restcountries_code %>
<ol class="breadcrumb">
  <li><%= link_to t(:home), countries_path %></li>
  <li><%= link_to t(@country.name), country_path(@country) %></li>
</ol>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-8">
      <%= render partial: "share", locals: {country: @country, info: info} %>

      <h1><%= t(@country.name) %></h1>
      <%
	 nativeName = info['nativeName']
	 if (nativeName != t(@country.name))
      %>
      <h3><em><%= nativeName %></em></h3> 
      <%
	 end
      %>
    </div>
    <div class="col-md-4">
      <img src="<%= @country.googlemaps_url(type: 'roadmap', size: '300x200')  %>"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= render partial: "facts", locals: {country: @country, info: info} %>
    <%= render partial: "weather", locals: {country: @country, info: info} %>
    <%= render partial: "money", locals: {country: @country, info: info} %>
    <%= render partial: "hour", locals: {country: @country, info: info} %>
    <%= render partial: "cities", locals: {country: @country, info: info} %>
    <%= render partial: "geography", locals: {country: @country, info: info} %>
  </div>
  <div class="col-md-8">
    <%= render partial: "wikipedia", locals: {country: @country, info: info} %>
  </div>
  <div class="col-md-12">
    <%= render partial: "pictures", locals: {country: @country, info: info} %>
  </div>
</div>




