<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <%= content_tag(:a, t('cities.show.geography'), :name => 'geography') %>
    </h2>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
	<%= t('cities.show.latitude') %>
      </dt>
      <dd>
	<%= info[:latitude] %>
      </dd>
      <dt>
	<%= t('cities.show.longitude') %>
      </dt>
      <dd>
	<%= info[:longitude] %>
      </dd>
      <dt>
	<%= t('cities.show.country') %>
      </dt>
      <dd>
	<%= link_to t(@city.country.name), [@city.country] %>
      </dd>
    </dl>
     <div class="embed-responsive embed-responsive-4by3">
      <iframe 
	 class="embed-responsive-item"
	 width="800" 
	 height="600" 
	 frameborder="0" 
	 style="border:0"
	 src="<%= Util::Google.maps_url(8, info[:latitude], info[:longitude]) %>" allowfullscreen>
      </iframe>
     </div>
  </div>
</div>
