<ul class="list-inline text-center">
  <li><%= link_to t('cities.show.facts'), '#facts' %></li>
  <li><%= link_to t('cities.show.geography'), '#geography' %></li>
  <li><%= link_to t('cities.show.hour'), '#hour' %></li>
  <li><%= link_to t('cities.show.links'), '#links' %></li>
  <li><%= link_to t('cities.show.pictures'), '#pictures' %></li>
  <li><%= link_to t('cities.show.population'), '#population' %></li>
  <li><%= link_to t('cities.show.weather'), '#weather' %></li>
  <li><%= link_to 'Wikipedia', '#wikipedia' %></li>
</ul>
