<% links = @city.googleimagessearch  %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <%= content_tag(:a, t('cities.show.pictures'), :name => 'pictures') %>
    </h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
	<img 
	   class="img-responsive"
	   alt="<%= t(@city.name) %>"
	   src="<%= links[0] %>"/>
      </div>
      <div class="col-md-4">
	<img 
	   class="img-responsive"
	   alt="<%= t(@city.name) %>"
	   src="<%= links[1] %>"/>
      </div>
      <div class="col-md-4">
	<img 
	   class="img-responsive"
	   alt="<%= t(@city.name) %>"
	   src="<%= links[2] %>"/>
      </div>
    </div>
  </div>
</div>


