<% content_for :head do %>
    <title><%= t('cities.show.title', place: t(@city.name)) %></title>
    <meta name="description" content="<%= t('cities.show.description', place: t(@city.name)) %>">
    <meta property="og:title" content="<%= t('cities.show.title', place: t(@city.name)) %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= @city.google_staticmaps_url('roadmap', 300, 200) %>" />
    <meta name="DC.Creator" content="Countrypedia" />
    <meta name="DC.Subject" scheme="DCTERMS.LCSH" content="<%= t('cities.show.title', place: t(@city.name)) %>" />
    <meta name="DC.Description" content="<%= t('cities.show.description', place: t(@city.name)) %>" />
    <meta name="DC.Type" scheme="DCTERMS.DCMIType" content="Text" />
    <meta name="DC.Format" scheme="DCTERMS.IMT" content="application/xhtml+xml" />

<% end %>
<% info = @city.geonames_info %> 
<%= render partial: "shared/nav" %>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-8">
      <%= render partial: "shared/share", locals: {text: t(@city.name)} %>
      <h1>
	<%= t(@city.name) %>
      </h1>
      <h2>
	<%= t(@city.country.name) %>
      </h2>
      <p><%= t('cities.show.description', country: t(@city.name)) %></p>
    </div>
    <div class="col-md-4">
      <img 
	 alt="<%= t(@city.name) %>"
	 src="<%= @city.google_staticmaps_url('roadmap', 300, 200)  %>"/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "menu", locals: {} %>
  </div>
  <div class="col-md-4">
    <%= render partial: "weather", locals: {city: @city, info: info} %>
    <%= render partial: "hour", locals: {city: @city, info: info} %>
    <%= render partial: "population", locals: {city: @city, info: info} %>
    <%= render partial: "links", locals: {city: @city, info: info} %>
  </div>
  <div class="col-md-8">
    <%= render partial: "shared/googleadsense", locals: {} %>
    <%= render partial: "geography", locals: {city: @city, info: info} %>
    <%= render partial: "wikipedia", locals: {city: @city, info: info} %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: "pictures", locals: {city: @city, info: info} %>
  </div>
</div>




